td {
  width: 100px;
  height: 100px;
  background-color: red;
}

.reset-button {
  height: 100px;
  width: 100px;
  background-color: blue;
}

.reset-button:hover {
  background-color: yellow;
}

table {
  border: 'solid';
  margin: auto;
  background-color: black;
}

.square-value {
  font-size: 50px;
  text-align: center;
}

.square-value:hover {
  background-color: yellow;
}